__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

.streamlit/

config/app_config.json

data/chroma_db/
data/chroma_test/
data/chroma_test_fix/
data/*sqlite3
data/*sqlite3-journal
data/*.bin

data/app_config_*/
data/eval_dataset_*/
data/prompt_templates_*/
data/prompt_templates/
data/sample_dataset_*/
data/sample_eval_dataset.json
data/test_eval_dataset.json
data/test_set.json

data/tmp*.doc
data/tmp*.docx
data/tmp*/

